<%- include("partials/header") -%>
<h1>about</h1>
<div class="about_content">
  <img class="img" src="Usman Ali.jpg" alt="">
  <p class="home_content"><%= aboutcont %></p>
</div>

<%- include("partials/footer") -%>
