<%- include("partials/header") -%>
<h1>contact</h1>
<p class="home_content"><%= contactcont %></p>
<div class="icon">
  <a href="https://www.facebook.com/profile.php?id=100056550216667"><img src="https://img.icons8.com/ios-glyphs/40/null/facebook-new.png"/></a>
   <a href="https://www.instagram.com/usman106525/"><img src="https://img.icons8.com/ios-glyphs/40/null/instagram-new.png"/></a>
  <a href="https://twitter.com/UsmanAl13858149"><img src="https://img.icons8.com/ios-filled/40/null/twitter.png"/></a>
</div>


<%- include("partials/footer") -%>
